@import 'styles/variables';

.container {
  display: grid;
  grid-template-columns: 80px 1fr;
  gap: 16px;
}

.date {
  flex-shrink: 0;
  font-size: 0.9rem;
  color: $color-text-secondary;
  @media screen and (max-width: $smartphone-width) {
    color: $color-text-secondary-mobile;
  }

  p {
    padding: 0px;
    margin: 0px;
    margin-top: 4px;
  }
}

.content {
  width: 100%;
  color: $color-text;
  .title {
    margin: 0px;
    font-size: 22px;
  }
  .description {
    margin: 0px;
    margin-top: 4px;
    font-size: 0.9rem;
  }
  .links {
    list-style: none;
    padding: 0px;
    font-size: 0.9rem;
  }
}
