@import 'styles/variables';
.container {
  padding-bottom: 36px;
}

.logs {
  display: grid;
  gap: 32px;
  padding: 0px;
}

.title {
  font-weight: 700;
  margin-top: 4px;
  margin-bottom: 10px;
  .subtitle {
    font-size: 1.1rem;
    font-weight: 500;
    margin: 0px;
  }
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  font-size: 0.8rem;
  margin: 0px;
  padding: 0px;
  margin-bottom: 36px;
}

.tag {
  background-color: transparent;
  border: 2px solid $color-bg-bottom;
  padding: 2px 4px;
  color: $color-bg-bottom;
  border-radius: 4px;
  transition: background-color 0.2s ease;
  cursor: pointer;
}

.selected {
  background-color: $color-bg-bottom;
  color: $color-text;
}
