@import 'styles/variables';
.container {
  margin-bottom: 36px;
}

.logs {
  display: grid;
  gap: 16px;
  list-style: none;
  padding: 0px;
}

.title {
  margin-bottom: 10px;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin: 0px;
  padding: 0px;
  margin-bottom: 24px;
}

.tag {
  background-color: transparent;
  border: 2px solid $color-bg-bottom;
  color: $color-bg-bottom;
  border-radius: 4px;
}

.selected {
  background-color: $color-bg-bottom;
  color: $color-text;
}
