.container {
  width: 100%;
  max-width: 1920px;
  min-height: 810px;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 10% 56% 1fr;
}

.header {
  grid-row: 1;
  grid-column: 1;
  height: 56px;
}

.bgImage {
  grid-row: 1 / 4;
  grid-column: 1;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main {
  display: flex;
  justify-content: flex-end;
  grid-row: 2;
  grid-column: 1;
  height: 100%;
  aspect-ratio: 21 / 10;
  justify-self: center;

  main {
    height: 100%;
    aspect-ratio: 16 / 9;
    background-color: yellow;
    overflow-x: hidden;
  }
}