@import 'styles/variables';

.container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 24px;
  justify-content: center;
  height: 100%;

  @media screen and (max-width: $smartphone-width) {
    display: block;
  }

  .info {
    display: flex;
    flex-direction: column;
    justify-content: center;

    img {
      width: 80%;
      height: auto;
      aspect-ratio: 1 / 1;
      margin: 0px auto;
      margin-bottom: 16px;
      border-radius: 25%;
    }

    .name {
      font-size: 32px;
      margin: 4px;
      text-align: center;
    }

    .description {
      font-size: 0.9rem;
      text-align: center;
      margin: 0px;
    }

    @media screen and (max-width: $smartphone-width) {
      display: none;
    }
  }

  .phoneInfoContainer {
    display: none;
    @media screen and (max-width: $smartphone-width) {
      display: flex;
      justify-content: center;
      margin: 0px;
      margin-bottom: 36px;

      .phoneInfo {
        display: flex;
        align-items: center;
        gap: 12px;
        img {
          width: 100px;
          height: 100px;
          border-radius: 50%;
          border: 4px solid white;
        }

        .name {
          p {
            margin: 0px;
            font-size: 14px;
          }

          h1 {
            margin: 0px;
            font-size: 28px;
          }
        }
      }
    }
  }

  .article {
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 16px;
    align-items: flex-end;
    height: 100%;

    @media screen and (max-width: $smartphone-width) {
      display: block;
    }

    & > div {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 16px;

      @media screen and (max-width: $smartphone-width) {
        display: block;
      }
    }

    & :nth-child(2) {
      align-self: flex-start;
    }

    .links {
      margin: 16px 8px;
      .link {
        display: flex;
        align-items: center;
        color: $color-link;
        line-height: 24px;
        margin-bottom: 4px;

        &:visited {
          color: $color-link-visited;
        }

        .icon {
          width: 24px;
          height: 24px;
          color: $color-text;
          margin-right: 4px;
        }
      }
    }
  }
}
