@import 'styles/variables';
.container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  font-size: 0.8rem;
  margin: 0px;
  padding: 0px;
  margin-bottom: 36px;
}

.tag {
  background-color: transparent;
  border: 2px solid $color-bg-bottom;
  color: $color-bg-bottom;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.2s ease;
  cursor: pointer;
  padding: 2px 4px;
}

.selected {
  background-color: $color-bg-bottom;
  color: $color-text;
}
