/*　ハンバーガーメニューボタン　*/
.hamburger {
  display: block;
  position: relative;
  z-index: 50;
  width: 42px;
  height: 42px;
  cursor: pointer;

  span {
    display: block;
    position: absolute;
    width: 30px;
    height: 2px;
    left: 6px;
    background-color: $color-bg-base;
    transition: 0.3s ease-in-out;

    &:nth-child(1) {
      top: 10px;
    }
    &:nth-child(2) {
      top: 20px;
    }
    &:nth-child(3) {
      top: 30px;
    }
  }

  /* スマホメニューを開いてる時のボタン */
  &.active {
    span {
      background-color: $color-text;
      &:nth-child(1) {
        top: 16px;
        left: 6px;
        transform: rotate(-45deg);
      }
      &:nth-child(2),
      &:nth-child(3) {
        top: 16px;
        transform: rotate(45deg);
      }
    }
  }
}

/* メニュー背景　*/
.background {
  position: fixed;
  z-index: 10;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  transform: translateX(100%);
  transition: all 0.6s;

  &.active {
    opacity: 100;
    transform: translateX(0%);
  }
}
.menu {
  color: $color-text;
  background: #ffffff;
  width: 250px;
  height: 100%;
  float: right;

  ul {
    margin: 0 auto;
    padding: 16px;
    padding-top: 32px;
    width: 100%;

    li {
      padding: 0;
      width: 100%;
      transition: 0.4s all;
    }
    li:last-child {
      padding-bottom: 0;
    }
  }
  .item {
    display: block;
    padding: 16px;
    text-decoration: none;
    color: $color-text;
    font-size: 24px;
    transition: 0.4s all;
    &:hover {
      background: $color-bg-base;
    }

    .subitem {
      font-size: 14px;
    }
  }
}
