@import 'styles/variables';
.title {
  font-weight: 700;
  margin-bottom: 10px;
  .subtitle {
    font-size: 1.1rem;
    font-weight: 500;
    margin: 0px;
  }
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 12px;

  @media screen and (max-width: 750px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media screen and (max-width: 504px) {
    grid-template-columns: 1fr;
  }
}

.container {
  padding-bottom: 28px;
}
