$color-primary: #dbd6d5;

$color-text: #170a0a;
$color-text-secondary: #b8b7af;
$color-link: #3366cc;
$color-link-visited: #795cb2;

$color-bg-white: #ffffff;
$color-bg-base: #eef4fc;
$color-bg-bottom: #cad1db;

$max-bg-height: 900px;
$max-bg-width: 1600px;
$max-content-width: 1024px;
$smartphone-width: 1100px;
